*{
    color: rgb(255, 255, 255);
    background-color: rgb(160, 206, 214);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

.center{
    display:block;
    margin-left:auto;
    margin-right: auto;
}

h1{
    text-align: center;
}

p em{
    color:black;

}
